@inherits LayoutComponentBase
@inject Blazor.Fluxor.IStore Store
@Store.Initialize()
<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link d-lg-none" style="color:white;">Log out</button>
                    <button type="submit" class="nav-link btn btn-link d-none d-lg-block" style="color:black;">Log out</button>
                </form>
            </Authorized>
            <NotAuthorized>              
                <div class="d-none d-lg-block">
                    <a  style="color:#000000;" href="Identity/Account/Register">Register</a>
                    <a  style="color:#000000;" href="Identity/Account/Login">Log in</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<StuffPacker.Components.SiteComponents.UiUpdateComponent />