@using global::Shared.Contract
@inject ICurrentUser  _currentUser
@inject NavigationManager NavigationManager
<div class="top-row pl-2 navbar navbar-dark">
    <span class="navbar-brand">Stuff Packer</span>
    <AuthorizeView>
        <Authorized>
            <MatIconButton Class=".sp-mdc-button d-xl-none" Icon="account_circle" Style="color:white;" OnClick="@GoToUser"></MatIconButton>


            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link d-xl-none" style="color:white;">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <div class=" d-xl-none">
                <a href="Identity/Account/Register" style="color:white;">Register</a>&nbsp;
                <a href="Identity/Account/Login" style="color:white;">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">


    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="packlist">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Pack lists
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Products
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="members">
                        <span class="oi oi-people" aria-hidden="true"></span> Members
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    async Task GoToUser()
    {
        var userId =  _currentUser.GetUserId();
        if (userId != null && userId != Guid.Empty)
        {
            NavigationManager.NavigateTo("/members/" + userId);
        }
    }
}
