@page "/"

    
        <h2>Stuff Packer for manage your stuff the right way</h2>
        <p>Stuff packer helps you to orgenize your items in a easy way.</p>
        <h2>Beta</h2>
        <ul>
            <li><a href="https://www.***.com" rel="nofollow">***.com - Beta website</a></li>
        </ul>
        <h2>Prerequisites</h2>
        <p>Don't know what Blazor is? Read <a href="https://github.com/aspnet/Blazor">here</a></p>
        <p>Complete all Blazor dependencies.</p>
        <ul>
            <li>.NET Core 3.0</li>
            <li>Visual Studio 2019 Preview with the ASP.NET and web development workload selected.</li>
            <li>The latest Blazor extension from the Visual Studio Marketplace.</li>
        </ul>
        <h2>Installation</h2>
        <p>Latest version in here:  ***</p>
        <p>
            To Install
            Step 1
        </p>
<pre><code>Download project
</code></pre>
        <p>Step 2</p>
<pre><code>Change Connectionstrings if needed 
</code></pre>
        <p>Step 3</p>
<pre><code>Run app
</code></pre>
        <h2>Sponsors &amp; Backers</h2>
        <p>
            Stuff packer is not owned by any company or anything like that.
            It is an totaly independent project created for fun in our spare time.
            The development is a ongoing process and we are working hard to release new features as often as we can.
        </p>
        <p>If you like this project and want it to evolve faster, you can consider becoming a backer/sponsor.</p>
        <ul>
            <li>[PayPal](link later)</li>
            <li>[Patreon](link later)</li>
        </ul>
        <h3>Backers:</h3>
        <h2>News</h2>
        <h3>StuffPacker 1.0.0</h3>
        <ul>
            <li>Waiting to be releaseed</li>
        </ul>
   