@page "/packlist"
@using StuffPacker.store.packlist
@using StuffPacker.store.packlist.Get
@inject IState<PackListDataState> PackListDataState
@inject IDispatcher Dispatcher

@if (PackListDataState.Value.PackLists == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container-fluid">
    <div class="row">
        @foreach (var item in PackListDataState.Value.PackLists)
        {
            <div class="col-5 m-2" style="border:solid 1px #eee">
                <StuffPacker.Components.PackListComponents.PackListComponent Model="item" />

                </div>
                }
            </div>
        </div>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        PackListDataState.Subscribe(this);
        Dispatcher.Dispatch(new GetPackListDataAction());
    }

}
